{% extends "base.html" %}
{% block title %}User Form{% endblock %}
{% block content %}
<div class="card col-lg-7">
  <div class="card-header">{% if object %}Edit User{% else %}Add User{% endif %}</div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="row g-3">
        {% for field in form %}
          <div class="col-md-6">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<div class="text-danger small">{{ field.errors|striptags }}</div>{% endif %}
            {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
          </div>
        {% endfor %}
      </div>
      <button class="btn btn-primary mt-4"><i class="fa-solid fa-floppy-disk me-1"></i>Save</button>
      <a href="{% url 'core:user_list' %}" class="btn btn-outline-secondary mt-4">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
